############################################
# Общие системные и временные файлы
############################################
*.class
*.ini
*.life
*.ctxt
*.bluej
*.log
*.gz

# Mac OS
.DS_Store

############################################
# Maven/Gradle сборка
############################################
target/
out/
build/
.gradle/

############################################
# IntelliJ IDEA
############################################
.idea/
*.iml

############################################
# Eclipse/STS4
############################################
.project
.classpath
.settings/
.springBeans
.sts4-cache

############################################
# NetBeans
############################################
nbproject/
dist/
nbdist/

 *.log.*
 logs/
 tmp/